body {
  padding: 20px 25px;
}

.field-wrapper {
  margin-top: 15px;
  position: relative;
}

.field-wrapper label {
  border-radius: 4px;
  color: #AAA;
  font-style: italic;
  left: 4px;
  padding: 4px 6px;
  position: absolute;
  top: 0px;
  transition: -webkit-transform .1s, opacity .2s, top .1s, left .1s, background-color .1s, color .1s;
}

.field-wrapper.js-slider-focused label, .field-wrapper.js-slider-has-text label {
  -webkit-transform: scale(0.9);
  background-color: #129FEA;
  color: #FFF;
  left: -4px;
  opacity: 1;
  top: -22px;
}

.field-wrapper.js-slider-has-text label {
  opacity: 0;
}
 .field-wrapper.js-slider-focused.js-slider-has-text label {
   opacity: 1;
 }
