$sky-labels-blue: #5398e8;
$call-to-action-background-color: lighten($sky-labels-blue, 2%);
$dark-biege: #ebe6dd;
$biege: #f5f2ec;
$background-color: $biege;
$bottom-background-color: $dark-biege;
$main-header-color: #9B9B9B;
$main-header-link-color: darken($main-header-color, 25%);
$base-font-light: 300;
$base-font-extra-light: 200;
$base-font-book: normal;
$sky-label-input-blurred-color: #9B9B9B;
