form {
  float: left;
  clear: left;
}

input, textarea {
  @include box-sizing(border-box);
  border-radius: 5px;
  background: #FFFFFF;
  font-size: 15px;
  border: 1px solid #CFC9BC;
  padding: 7px 10px;
  width: 280px;
  margin-bottom: 3px;

  &:focus {
    outline: none;
    border-color: #75BBDC;
  }
}
