@import 'bourbon/bourbon';
@import 'slider';
@import 'fake_web_page';
@import 'form';

html {
  margin: 0px;
  padding: 0px;
}

body {
  color: #4C7791;
}

header {
  background-color: #D4E6EE;
  height: 400px;
  width: 100%;
  position: relative;
}

.container {
  @include clearfix;
  width: 870px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  float: left;

  h1 {
    font-size: 33px;
    font-weigh: bold;
    color: #22546B;
    margin: 0px;
    margin-top: 38px;
  }

  h3 {
    margin: 0px;
    font-size: 22px;
    font-weight: normal;
    margin-top: 10px;
    color: #558BA3;
  }
}

h3 {
  font-size: 18px;
  color: #22546B;
}

ul {
  margin-top: 30px;

  li {
    font-size: 16px;
    margin-bottom: 7px;
    line-height: 28px;
  }
}

.outbound-buttons {
  float: right;
  margin-top: 55px;
}

.bordered-button {
  border: 2px solid #1C5773;
  border-radius: 8px;
  font-size: 17px;
  color: #1C5773;
  padding: 11px 36px;
  text-decoration: none;
  background-color: #FFF;

  &:hover {
    background-color: rgba(255, 255, 255, .37);
  }
}
