---
title: SkyLabels - Fun &amp; Compact Forms
---

<main>
  <header class="main-header">
    <section class="sponsor-link logo-wrapper">
      <img class="ralph" alt="thoughtbot Ralph logo" src="/images/ralph.svg">
      built by <a href="http://www.thoughtbot.com">thoughtbot</a>
    </section>
    <section class="repo-link logo-wrapper">
      get it on <a href="https://github.com/thoughtbot/sky-labels">github</a>
      <img class="octocat" alt="Github Octocat" src="/images/github-octocat-dark.svg">
    </section>
  </header>
  <section class="playground">
    <h1 class="project-name">
      SkyLabels.js
    </h1>
    <h2 class="tagline">
      Fun &amp; Compact  HTML Forms
    </h2>

    <section class="laptop">
      <img alt="Macbook Pro" src="/images/mbp.png">

      <section class="example-form">
        <h3>Try it out</h3>
        <section class="sky-label">
          <label for="first-name">Name</label>
          <input name="first-name" id="first-name" type="text" autofocus>
        </section>
        <section class="sky-label">
          <label for="nickname">Nickname</label>
          <input name="nickname" id="nickname" type="text">
        </section>
        <section class="sky-label">
          <label for="hobbies">Hobbies</label>
          <input name="hobbies" id="hobbies" type="text">
        </section>
      </section>
    </section>
  </section>

  <section class="content">
    <h3 class="supporting-tagline">
      Easy to Use &amp; Infinitely Customizable With CSS
    </h3>
    <a href="https://github.com/thoughtbot/sky-labels" class="call-to-action">
      <img class="logo" alt="Github Octocat" src="/images/github-octocat.svg">
      Check it out on Github
    </a>
    <section class="example-websites">
      <figure class="website">
        <img alt="thoughtbot contact form screenshot" src="/images/example-websites/hire-thoughtbot.png">
        <figcaption class="website-overlay red">
          <a href="http://thoughtbot.com/hire-us">See the form</a>
        </figcaption>
      </figure>
      <figure class="website">
        <img alt="Keep Ruby Weird screenshot" src="/images/example-websites/keep-ruby-weird.png">
        <figcaption class="website-overlay">
          <a href="http://keeprubyweird.com/scholarships/apply">See the form</a>
        </figcaption>
      </figure>
      <figure class="website">
        <img alt="Revup screenshot" src="/images/example-websites/revup.png">
        <figcaption class="website-overlay blue">
          <a href="http://stg.revup.io/signup">See the form</a>
        </figcaption>
      </figure>
      <figure class="website">
        <img alt="Internal thoughtbot screenshot" src="/images/example-websites/team-project.png">
        <figcaption class="website-overlay red">
          <a href="#">See the form</a>
        </figcaption>
      </figure>
    </section>
  </section>
</main>
